<!DOCTYPE html>
<head>
</head>
<body>
  <h1>Welcome to the Fractal Server!</h1>
  <h3>TODO</h3>
  <ul>
    <li>Add audio file page</li>
    <li>Add log in</li>
  </ul>

  <h4>secondary todos</h4>
  <ul>
    <li>Add favicon</li>
    <li>Add styling</li>
  </ul>
</body>
<!-- <audio controls class="audio-play" src="/assets/audio1-6892043660a9f3838cc914e7ee68a4d36890740d7b3b2f39b2c85ffa3a727db9.wav"></audio> -->
<%= audio_tag "audio1.wav", controls: true %>
<!-- <button class="btn btn-primary audioButton">Play</button> -->
