<!DOCTYPE html>
<head>
</head>
<body>
  <h1>Welcome to the Fractal Server!</h1>
  <h3>TODO</h3>
  <ul>
    <li>Add audio file page</li>
    <li>Add log in</li>
  </ul>

  <h4>secondary todos</h4>
  <ul>
    <li>Add favicon</li>
    <li>Add styling</li>
  </ul>
</body>
